@import './variables';

html, body {
  margin: 0;
  width: 100%;

  #app {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    width: inherit;
  }

  .app-wrapper {
    color: $white;
    display: inherit;
    background-color: $navy-blue;
    width: inherit;
  }
}
